<template>
    <div class="text">
        <h2>Composition API</h2>
        <h2>{{ greeting.msg }} {{ greeting.user }}</h2>
    </div>
</template>

<script>
import {ref} from 'vue'
export default {
    setup () {
        //Define a ref in reactive
        const greeting = ref({msg:'Hello',user:'Mark'})
        setTimeout(() =>{
            greeting.value.msg = 'Hi'
            greeting.value.user = 'Jane'
        }, 3000)

        //return for use in
        //The template
        return {
            greetingMsg: greeting.value.msg,
            greetingUser: greeting.value.user,
        }
    },
    // created() {
    //     console.log("Created")
    // },
    // mounted() {
    //     console.log('Mounted:${this.greeting}')
    // },
}
</script>

<style  scoped>
.text{
    text-align: center;
}
</style>