<template>
    <div>
        <h2>Option API</h2>
    </div>
</template>

<script>
export default {
    data () {
        

        return {}
    }
}
</script>


<style  scoped>
.text{
    text-align: center;
}
</style>