<template>
    <div class="text">
        <h2>{{ greeting }}</h2>
        <h2>{{ sayHi }}</h2>
        <button @click="newGreeting1">Regular function</button>
        <button @click="newGreeting2">Anonymous function</button>
        <button @click="newGreeting3">Arrow function</button>
        <p><input type="text" @input="setFirstName" ></p>
    </div>
</template>

<script>
import { ref,computed} from 'vue';
export default {
    setup () {
    const greeting = ref('Hello World')
    const user = ref({firstName:'',lastName:''})

    const setFirstName = ($event)=>{
        user.value.firstName = $event.target.value
    }
    //computed
    const sayHi = computed (()=>  {
        return 'Hi' + user.value.firstName
    })
    //Regular function
    function newGreeting1(){
        greeting.value = "Hi Jame"

    }
    //Anonymous function
    const newGreeting2 = function (){
        greeting.value = "Hi Monn"
    }
    //Arrow function
    const newGreeting3 = ()=> {
        greeting.value = "Hi Aroll"
    }
        // setTimeout(()=>{
        //     greeting.msg = 'Hi'
        //     greeting.user = 'Min'
        // }, 3000)
        return {greeting,newGreeting1,newGreeting2,newGreeting3,setFirstName,sayHi}
    }
}
</script>

<style  scoped>
.text{
    text-align: center;
}
</style>