<template>
    <div class="text">
        <h2>Twoway Data binding</h2>
        <p>{{ user.firstName }} {{ user.firstName }}</p>
        First Name:<input tyoe="text" v-model="user.firstName" placeholder="First Name">
        Last Name:<input tyoe="text" v-model="user.lastName" placeholder="First Name">
    </div>
</template>

<script>
import {ref, watch} from 'vue';

export default {
    setup () {
        // const firstName =ref('')
        // const lastName =ref('')
       const user = ref({ firstName:'', lastName:''})      
        watch(
    [
        ()=> user.value.firstName,
        ()=> user.value.firstName
    
    ],
        (newValue,oldValue )=> {
            console.log('New firstName',newValue[0])
            console.log('Old firstName',oldValue[0])
            console.log('New FirstName',newValue[1])
            console.log('Old firstName',oldValue[1])
        })
        return { user }
    }
}
</script>

<style lang="scss" scoped>

</style>