<template>
  <div>
<router-link v-bind:to="{name:'home'}" >Home</router-link> |
<router-link v-bind:to="{name:'about'}" >about</router-link>
<router-link v-bind:to="{name:'OptionAPT'}" >option API</router-link>
<router-link v-bind:to="{name:'CompositionAPIon'}" >composition</router-link>
<router-link v-bind:to="{name:'ReactiveView'}" >reactive</router-link>
<router-link v-bind:to="{name:'TwoWay'}" >twoway</router-link>
  </div>
  <router-view  />
</template>

<script setup>


</script>

<style scoped>
.router-link-exact-active{
  color: aqua;
  text-decoration: none;
}

.text{
  text-align: center;
}
</style>